<!doctype html>
<html lang="en">
<head>
    <title>LED Control - Raspberry Pi</title>
    <script type="text/javascript">window.name='service'</script>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../static/script.js"></script>
    <link href="../static/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:600|Teko:500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Orbitron:400,700" rel="stylesheet">
    <link href="../static/img/favicon/favicon.ico?v=1.0" rel="shortcut icon">
    <link href="../static/img/favicon/favicon.ico?v=1.0" rel="icon" sizes="16x16 32x32 64x64">
    <link href="../static/img/favicon/favicon-192.png?v=1.0" rel="icon" sizes="196x196" type="image/png">
    <link href="../static/img/favicon/favicon-160.png?v=1.0" rel="icon" sizes="160x160" type="image/png">
    <link href="../static/img/favicon/favicon-96.png?v=1.0" rel="icon" sizes="96x96" type="image/png">
    <link href="../static/img/favicon/favicon-64.png?v=1.0" rel="icon" sizes="64x64" type="image/png">
    <link href="../static/img/favicon/favicon-32.png?v=1.0" rel="icon" sizes="32x32" type="image/png">
    <link href="../static/img/favicon/favicon-16.png?v=1.0" rel="icon" sizes="16x16" type="image/png">
    <link href="../static/img/favicon/favicon-57.png?v=1.0" rel="apple-touch-icon">
    <link href="../static/img/favicon/favicon-114.png?v=1.0" rel="apple-touch-icon" sizes="114x114">
    <link href="../static/img/favicon/favicon-72.png?v=1.0" rel="apple-touch-icon" sizes="72x72">
    <link href="../static/img/favicon/favicon-144.png?v=1.0" rel="apple-touch-icon" sizes="144x144">
    <link href="../static/img/favicon/favicon-60.png?v=1.0" rel="apple-touch-icon" sizes="60x60">
    <link href="../static/img/favicon/favicon-120.png?v=1.0" rel="apple-touch-icon" sizes="120x120">
    <link href="../static/img/favicon/favicon-76.png?v=1.0" rel="apple-touch-icon" sizes="76x76">
    <link href="../static/img/favicon/favicon-152.png?v=1.0" rel="apple-touch-icon" sizes="152x152">
    <link href="../static/img/favicon/favicon-180.png?v=1.0" rel="apple-touch-icon" sizes="180x180">
    <meta content="#FFFFFF" name="msapplication-TileColor">
    <meta content="../static/img/favicon/favicon-144.png?v=1.0" name="msapplication-TileImage">
    <meta content="../static/img/favicon/browserconfig.xml" name="msapplication-config">
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark d-flex justify-content-between">
    <div class="p-2"><a class="navbar-brand" href="mailto:kaulketh@gmail.com?subject=RaspberryPi LED control">&copy;
        Kauli1220 </a></div>
    <div class="p-2"><a class=nav-link href="https://github.com/kaulketh/ledpi" id="subtitle" target="_blank">Control a
        Raspberry Pi with your Browser</a>
    </div>
</nav>
<div class="container">
    <div class="col">
        <div class="row">
            <button class="btn btn-block btn-outline-dark" id="homeBtn" type="button">
            </button>
        </div>
        <div class="row"></div>
        <div class="row">
            <button class="btn btn-block btn-outline-danger" id="rebootBtn" type="button">
            </button>
        </div>
        <div class="row"></div>
    </div>
</div>
</body>
</html>